::selection{color:#f50;background:#dcdcdc;}
::-moz-selection{color:#f50;background:#dcdcdc;}
a:link,a:visited{color:#f50;text-decoration:none;}
a:hover{text-decoration:underline}
.topnav li a:link,.topnav li a:visited{border-bottom:#f50 1px solid;}
.topnav li a:hover{color:#d64700;}
#header{background:url(../images/line3.gif) repeat-x bottom;height:142px;}
.topnav ul ul li{border-top:1px #f50 solid;}
.topnav li.li01 a{color:#f50}
.topnav li.li01 a:hover{color:#d64700;}
.topnav li.li01 li a{color:#f50;}
.topnav li.li01 li a:hover{border-bottom:1px #f50 solid;}
.topnav li li.li01 a{color:#f50;}
.topnav li li.li01 ul a{color:#f50;}
.topnav li li.li01 ul a:hover{border-bottom:1px #f50 solid;}
.post_date{border-top:5px #f50 solid;}
.main ul li h2,.main .left h2{background:url(../images/line3.gif) repeat-x bottom;}
#sidebar h3{background:url(../images/line3.gif) repeat-x bottom;}
#footer{background:url(../images/line3.gif) repeat-x top;}
#calendar_wrap table thead th{background:#FFA366;}