::selection{color:#8200a7;background:#dcdcdc;}
::-moz-selection{color:#8200a7;background:#dcdcdc;}
a:link,a:visited{color:#8200a7;text-decoration:none;}
a:hover{text-decoration:underline}
.topnav li a:link,.topnav li a:visited{border-bottom:#8200a7 1px solid;}
.topnav li a:hover{color:#56006f;}
#header{background:url(../images/line2.gif) repeat-x bottom;height:142px;}
.topnav ul ul li{border-top:1px #8200a7 solid;}
.topnav li.li01 a{color:#8200a7}
.topnav li.li01 a:hover{color:#56006f;}
.topnav li.li01 li a{color:#8200a7;}
.topnav li.li01 li a:hover{border-bottom:1px #8200a7 solid;}
.topnav li li.li01 a{color:#8200a7;}
.topnav li li.li01 ul a{color:#8200a7;}
.topnav li li.li01 ul a:hover{border-bottom:1px #8200a7 solid;}
.post_date{border-top:5px #8200a7 solid;}
.main ul li h2,.main .left h2{background:url(../images/line2.gif) repeat-x bottom;}
#sidebar h3{background:url(../images/line2.gif) repeat-x bottom;}
#footer{background:url(../images/line2.gif) repeat-x top;}
#calendar_wrap table thead th{background:#AD99CC;}