::selection{color:#bc0000;background:#dcdcdc;}
::-moz-selection{color:#bc0000;background:#dcdcdc;}
a:link,a:visited{color:#bc0000;text-decoration:none;}
a:hover{text-decoration:underline}
.topnav li a:link,.topnav li a:visited{border-bottom:#bc0000 1px solid;}
.topnav li a:hover{color:#8a0000;}
#header{background:url(../images/line5.gif) repeat-x bottom;height:142px;}
.topnav ul ul li{border-top:1px #bc0000 solid;}
.topnav li.li01 a{color:#bc0000}
.topnav li.li01 a:hover{color:#8a0000;}
.topnav li.li01 li a{color:#bc0000;}
.topnav li.li01 li a:hover{border-bottom:1px #bc0000 solid;}
.topnav li li.li01 a{color:#bc0000;}
.topnav li li.li01 ul a{color:#bc0000;}
.topnav li li.li01 ul a:hover{border-bottom:1px #bc0000 solid;}
.post_date{border-top:5px #bc0000 solid;}
.main ul li h2,.main .left h2{background:url(../images/line5.gif) repeat-x bottom;}
#sidebar h3{background:url(../images/line5.gif) repeat-x bottom;}
#footer{background:url(../images/line5.gif) repeat-x top;}
#calendar_wrap table thead th{background:#DD7777;}